#nameField {
    /* -fx-background-color: rgb(255,255,255,0.4); */
}

#curve {
    -fx-smooth: true;
    -fx-stroke: rgb(253,155,171);
    -fx-fill: null;
    -fx-stroke-width: 2.5;
    -fx-stroke-line-cap: round;
    -fx-stroke-line-join: round;
}

#interfaceLabel{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
